extends layout

block content
    //
        h1= title
        p Welcome to #{title}
    #header(style="height:100px")
        | This is my header
    #mainContainer.maincontainer.clearfix(style="width:100%;min-height:100px;background:white")
        #leftcont.leftmainCont(style="float:left;width:70%;background:red")
            | register
            div
                label
                    | Username
                input(type="text", id="r_username", name="username")
            div
                label
                    | Password
                input(type="password",id="r_password" name="password")
            div
                label
                    | email
                input(type="password",id="r_email" name="password")
            div(style="")
                span(style="background:red",onclick="register()") register

        #leftcont.leftmainCont(style="float:left;width:30%;background:gray")
            | login
            #loginContainer
                div
                    label
                        | Username
                    input(type="text", id="l_username", name="username")
                div
                    label
                        | Password
                    input(type="password",id="l_password" name="password")
                div(style="")
                    span(style="background:red",onclick="login()") login
                div
                    span(style="background:red",onclick="logout()") logout
        #uploadFiles
            form(method="post", action="/fileupload" enctype="multipart/form-data")
                input(type="file", name="image")
                input(type="submit") submit

        #uploadFiles1
           input(id="file1",type="file", name="image")
           #test(onclick="uploadFile()") sendme
