doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/zepto.js")
        script(src="/javascripts/init.js")
    body
        block content