html{
    width:100%;
    height:100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  background:blue;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
  color: #00B7FF;
}


.contleft,.contright{
    float:left;width:50%;
    min-height:100px;
    border:1px solid black;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}